body {
  background-color: bisque;
}
.Jacob {
  border: 35px 35px 35px 35px;
  height: 200px;
  border-radius: 40px;
}
.header1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(139, 139, 204);
  margin: 0px;
}
.header2 {
  background-color: blueviolet;
  display: flex;
  height: 40px;
  color: white;
  margin: 0px;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 50px;
}

.art {
  height: 200px;
  width: 200px;
}

.titles {
  display: flex;
  font-size: 20px;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 5px;
}
.content {
  display: flex;
  margin: 40px;
  flex-direction: column;
}

h2 {
  margin: 50px;
}

li :hover {
  display: flex;
  color: aliceblue;
}

h2 {
  font-size: 50px;
  color: blueviolet;
}
article {
  display: flex;
  flex-direction: row;
}
.art:hover {
  width: 220px;
  height: 220px;
}

.email {
  font-size: 30px;
}
#resume {
  display: flex;
  flex-direction: row;
}
.mess {
  display: flex;
  flex-direction: column;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}

article.jobs .project {
  position: relative;
}
.project h3 {
  position: absolute;
  bottom: 5px;
  width: 100px;
  padding: 5px;
  background-color: aqua;
}
